*
{
    padding:0%;
    margin: 0%;
    box-sizing: border-box;
}
body
{
    font-family: 'Source Sans Pro', 'sans-serif';
}

.home
{
    background-image: url(../img/slider/slider-01.jpg);
    background-size: 100% 100%;
    height: 100vh;
}

.home .logo
{
    color:#ff305b !important;
    font-weight: 800;
    font-size: 24px;
    line-height: 25px;
}
.navbar-light .navbar-nav .nav-link:hover 
{
    color:#ff305b !important;
}
.navbar
{
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}
.navbar-light .navbar-nav .nav-link
{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 25px;
    
}
.navbar-light .navbar-nav .nav-link.active
{
    color:#ff305b !important;
}

                            /*<!---------------- home-content-----------------> */

.home-content-contianer
{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 200px 0px;
}
.home-content h5
{
    color: white;
    font-size: 24px;
    line-height: 26px;
    font-weight: 600;
}
.home-content h1
{
    text-transform: uppercase;
    color:#ff305b;
    font-size: 70px;
    line-height: 77px;
    font-weight: 700;
}

.home-content h3
{
    color:white;
    font-size: 26px;
    line-height: 31px;
    font-weight: 300;
}

                                    /* <!----------------- About section ------------> */


.about
{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding:100px 0px;
}

.about .img-contianer
{
    width: 27%;
    box-shadow: 0 0 0 8px #555 inset;
    border-radius: 5px;
    margin-right:10%;
    display: block;
    position: relative;
    /* margin-right: 0px;
    margin-top: 0px; */
}

.about .img-contianer img
{
    border-radius: 5px;
    position: relative;
}

.about .img-contianer .about-img
{
    position: relative;
    transform:translateY(24px) translateX(24px) ;
    display: block;
}
.about .img-contianer .about-img .box
{
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0, 0.6);
    width: 100%;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition:all 0.5s ease 0s;
}
.about .img-contianer .about-img:hover .box
{
    background-color: rgba(0,0,0, 0.6);
    opacity: 1;
    visibility: visible;
    height: 100%;
    border-radius: 5px;
}
.about .img-contianer .about-img .box .icon ul
{
    list-style: none;
}
.about .img-contianer .about-img .box .icon ul li
{
    display: inline-block;
}
.about .img-contianer .about-img .box .icon a
{
    text-decoration:none;
    color: white;
    transition:color ease-in-out 0.5s;
    padding: 5px;
}
.about .img-contianer .about-img .box .icon a:hover
{
    color:#EC2403;
}

.about .img-contianer .about-img .box .icon
{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% , -50%);
}

.about-content
{
    width: 40%;
}

.about-content .content h2
{
    font-weight: 600;
    font-size: 34px;
    line-height: 22px;
    color:#333333;
    padding-bottom: 25px;
    padding-left: 20px;
    position: relative;
}
.about-content .content h2::before
{
    content: "";
    background-color: #FF305B;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50%;
    width: 5px;
}

.about-content .content p
{
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color:#555555;
    border-bottom: 1px dashed #999999;
    margin-bottom: 25px;
    padding-bottom: 25px;
    

}
.about-content .content ul
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.about-content .content ul li
{
    width: 50%;
    list-style-type: none;
    color: #555555;
    font-size:18px;
    line-height: 16px;
    font-weight: 400;
    margin-bottom: 25px;
}

.about-content .content ul h5
{
    display: inline-block;
    color: #333333;
    font-weight: 500;
}
.about-content .content ul li a
{
    text-decoration: none;
    font-weight: 400;
    font-size:16px;
    line-height: 16px;
    color: #7e7e7e;
}
.about-content .content .btns a
{
    text-decoration: none;
    background-color: #FF305B;
    padding: 10px 24px;
    border-radius:4px;;
    color: white;
    margin-right: 10px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    transition:background-color ease-in-out 0.5s;
}
.about-content .content .btns a:hover
{
    background-color:#EC2403;
}
                                /* <!----------------- services section ------------> */

.Services h2
{
    text-align:center;
    font-size: 40px;
    font-weight: 800;
    line-height: 30px;
    color: #333333;
}

.Services
{
    background-color: #F1F1F1;
    
}
.Services .desing
{
    background-color: #FF305B;
    width: 10%;
    height: 1px;
    position: relative;
    margin: auto;
}

.Services .desing::before
{
    content: "";
    background-color: #FF305B;
    width: 50%;
    height: 1px;
    position: absolute;
    left: 25%;
    bottom: 5px;
}
.Services .desing::after
{
    content: "";
    background-color: #FF305B;
    width: 50%;
    height: 1px;
    position: absolute;
    left: 25%;
    top: 5px;
}

.Services .services-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin-top:50px;
    padding-bottom: 80px;
    margin-bottom: 100px;
}

.Services .services-container .service
{
    width: 20%;
    padding: 20px;
    transition:background-color  ease-in-out 0.4s ;
    -webkit-transition:background-color  ease-in-out 0.4s ;
    -moz-transition:background-color  ease-in-out 0.4s ;
    -ms-transition:background-color  ease-in-out 0.4s ;
    -o-transition:background-color  ease-in-out 0.4s ;
}
.Services .services-container .service:hover
{
    background-color: white;
    box-shadow: 0 15px 20px rgb(0 0 0 / 10%);
}
.Services .services-container .service:hover i
{
    transform: scale(1.1);
}
.Services .services-container i
{
    color: #FF305B;
    font-size: 36px;
    padding-bottom: 20px;
    width: 50px;
}

.Services h2
{
    font-size: 40px;
    line-height: 30px;
    color: #333333;
    font-weight: 800;
    padding-top: 80px;
}
.Services .services-container p
{
    font-size: 16px;
    line-height: 25px;
    color: #555555;
    font-weight: 400;
}

/* <!------------- portfolio section ---------------> */

.Portfolio .desing
{
    background-color: #FF305B;
    width: 10%;
    height: 1px;
    position: relative;
    margin: auto;
}

.Portfolio .desing::before
{
    content: "";
    background-color: #FF305B;
    width: 50%;
    height: 1px;
    position: absolute;
    left: 25%;
    bottom: 5px;
}
.Portfolio .desing::after
{
    content: "";
    background-color: #FF305B;
    width: 50%;
    height: 1px;
    position: absolute;
    left: 25%;
    top: 5px;
}

.Portfolio h2
{
    font-size: 40px;
    line-height: 30px;
    color: #333333;
    font-weight: 800;
    text-align: center;
}

.Portfolio .Portfolio-links
{
    text-align: center;
    margin-bottom: 20px;
}
.Portfolio .Portfolio-links a
{
    font-size:16px;
    line-height: 25px;
    font-weight: 400;
    color: black;
    text-decoration: none;
    padding: 5px 12px;
}
.Portfolio .portfolio-imgs img
{
    width: 100%;
    position: relative;
}

.Portfolio .portfolio-imgs .portfolio-container
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
}
.Portfolio .portfolio-imgs .portfolio-img
{
    width: 27%;
    margin: 10px;
    position: relative;
}
.Portfolio .portfolio-imgs .portfolio-img .portfolio-hover i
{
    position: absolute;
    font-size: 20px;
    line-height: 20px;
    right: 20px;
    bottom: 20px;
    color: #ff305b;
}
.Portfolio .portfolio-imgs .portfolio-img .portfolio-hover
{
    background-color: rgba(0,0,0, 0.6);
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    position: absolute;
    transition: all ease 0.3s;
}
.Portfolio .portfolio-imgs .portfolio-img:hover .portfolio-hover
{
    opacity: 1;
}

/* <!------------------counter section ---------------> */

.counter
{
    background-color: #F1F1F1;
    text-align: center;
}
.counter .single-counter
{
    width: 25%;
    padding: 100px;

}
.counter .counter-contianer 
{
    display: flex;
    justify-content: center;
}

.counter .counter-contianer .single-counter i
{
    color: #FF305B;
    font-size: 26px;
    padding-bottom: 20px;
    width: 50px;
}

.counter .counter-contianer .single-counter h2
{
    font-size: 30px;
    line-height: 29px;
    color: #333333;
    font-weight: 800;
}
.counter .counter-contianer .single-counter h5
{
    font-size: 16px;
    line-height: 18px;
    color: #555555;
    font-weight: 600;
}

/* <!------------------feedback section ---------------> */

.feedback .desing
{
    background-color: #FF305B;
    width: 10%;
    height: 1px;
    position: relative;
    margin: auto;
}

.feedback .desing::before
{
    content: "";
    background-color: #FF305B;
    width: 50%;
    height: 1px;
    position: absolute;
    left: 25%;
    bottom: 5px;
}
.feedback .desing::after
{
    content: "";
    background-color: #FF305B;
    width: 50%;
    height: 1px;
    position: absolute;
    left: 25%;
    top: 5px;
}
.feedback h2
{
    font-size: 40px;
    line-height: 30px;
    color: #333333;
    font-weight: 800;
    text-align: center;
    padding-top: 100px;
}

.feedback .feedback-img .feedback-contianer
{
    width: 60%;
    border-radius: 10px;
    background-image: linear-gradient(135deg, #FF305B 20%, #F1F1F1 20%);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 30px;
}

.feedback .feedback-img .feedback-contianer img
{
    width: 70%;
    border-radius: 50%;
    z-index: 999999;
}

.feedback .feedback-img .feedback-img1 .feedback-contianer
{
    width:25%;
    text-align: center;
}

.feedback .feedback-contianer .feedback-content 
{
    width: 70%;
}

.feedback .feedback-img .feedback-contianer h3
{
    font-size: 26px;
    line-height: 29px;
    color: #333333;
    font-weight: 600;
    padding-bottom: 10px;
    position: relative;
}

.feedback .feedback-img .feedback-contianer p
{
    font-size: 16px;
    line-height: 25px;
    color: #555555;
    font-weight: 400;
    padding-top: 10px;
    padding-bottom: 10px;
}

.feedback .feedback-img .feedback-contianer a
{
    text-decoration: none;
    font-size: 15px;
    line-height: 17px;
    color: #777777;
    font-weight: 600;
}

.feedback .feedback-img .feedback-contianer .stars i
{
    color: #f1c30d;
    position: relative;
    left: 145px;
}

/* <!-------------------Our Blog -----------> */

.blog
{
    background-color: F1F1F1;
}
.blog .desing
{
    background-color: #FF305B;
    width: 10%;
    height: 1px;
    position: relative;
    margin: auto;
}

.blog .desing::before
{
    content: "";
    background-color: #FF305B;
    width: 50%;
    height: 1px;
    position: absolute;
    left: 25%;
    bottom: 5px;
}
.blog .desing::after
{
    content: "";
    background-color: #FF305B;
    width: 50%;
    height: 1px;
    position: absolute;
    left: 25%;
    top: 5px;
}

.blog h2
{
    font-size: 40px;
    line-height: 30px;
    color: #333333;
    font-weight: 800;
    text-align: center;
    padding-top: 70px;
}

.blog .blog-imgs img
{
    width: 100%;
}

.blog .blog-imgs .blog-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 70px;
    padding-bottom: 100px;
}
.blog .blog-imgs .blog-img1
{
    background-color: white;
    width: 27%;
    margin: 20px;
} 

.blog .blog-imgs .blog-img1 .blog-box
{
    margin: 15px;
}

.blog .blog-imgs .blog-container iframe
{
    width: 100%;
}

.blog .blog-imgs .blog-container h4
{
    font-size: 16px;
    line-height: 25px;
    color: #555555;
    font-weight: 500;
    padding-bottom: 10px;
}

.blog .blog-imgs .blog-container h3
{
    font-size: 24px;
    line-height: 26px;
    color: #333333;
    font-weight: 800;
    padding-bottom: 10px;
}
.blog .blog-imgs .blog-container p
{
    font-size: 16px;
    line-height: 25px;
    color: #555555;
    font-weight: 500;
    padding-bottom: 10px;
}
.blog .blog-imgs .blog-container a
{
    text-decoration: none;
    font-weight: 500;
    font-size:16px;
    line-height: 25px;
    color: #7e7e7e;
    padding-bottom: 10px;
}

/* <!------------------contact us --------------> */
.contact .desing
{
    background-color: #FF305B;
    width: 10%;
    height: 1px;
    position: relative;
    margin: auto;
}

.contact .desing::before
{
    content: "";
    background-color: #FF305B;
    width: 50%;
    height: 1px;
    position: absolute;
    left: 25%;
    bottom: 5px;
}
.contact .desing::after
{
    content: "";
    background-color: #FF305B;
    width: 50%;
    height: 1px;
    position: absolute;
    left: 25%;
    top: 5px;
}

.contact h2
{
    font-size: 40px;
    line-height: 30px;
    color: #333333;
    font-weight: 800;
    text-align: center;
    padding-top: 70px;
}

.contact .form .first
{
    width: 50%;
    margin: auto;
    margin-top: 30px;
    padding-bottom: 25px;
}
.contact .form .first .input-name
{ 
    width: 45%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 62px;
    transition:border ease-in-out 0.5s;
    font-family: inherit;
}
.contact .form .first .input-name:hover
{
    border: 1px solid #ff305b;
}
.contact .form .first .input-email
{
    width: 45%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition:border ease-in-out 0.5s;
    font-family: inherit;
}
.contact .form .first .input-email:hover
{
    border: 1px solid #ff305b;
}

.contact .form .second
{
    width: 50%;
    margin: auto;
}
.contact .form .second .input-subject
{
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 25px;
    transition:border ease-in-out 0.5s;
    font-family: inherit;
}
.contact .form .second .input-subject:hover
{
    border: 1px solid #ff305b;
}

.contact .form .second .input-area
{    
    width: 100%;
    padding: 20px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 25px;
    transition:border ease-in-out 0.5s;
    font-family: inherit;
}
.contact .form .second .input-area:hover
{
    border: 1px solid #ff305b;
}
.contact .form .second .submit-btn
{
    background-color: #ff305b;
    border-color: #ff305b;
    color: #ffffff;
    padding: 0px 20px;
    height: 40px;
    line-height: 38px;
    border-radius: 4px;
    transition:color ease-in-out 0.5s;
}
.contact .form .second .submit-btn:hover
{
    border: 1px solid #ff305b; 
}

/*<!---------------------- footer-----------------> */
.footer
{
    background-color: #333333;
    text-align: center;
}
.footer .footer-icons
{
    padding-top: 50px;
    padding-bottom: 5px;
    margin-top: 50px;
}

.footer h5
{
    font-family: "Roboto, sans-serif";
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color:#ffffff;
    padding-bottom:50px;
}

.footer h5 a
{
    text-decoration: none;
    font-weight: 500;
    font-size:16px;
    line-height: 25px;
    color: #FF305B;   
    transition:underline ease-in-out 0.5s;

}
.footer h5 a:hover
{
    text-decoration: underline;
}

.footer .footer-icons i
{
    margin: 10px;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    color: white;
    transition:color ease-in 0.5s;
}
.footer .footer-icons i:hover
{
    color:#EC2403;
}

.typing1
{
    color: #fff;
    display: -webkit-inline-box;
    align-items: center;
    font-family: 'Source Sans Pro', 'sans-serif';  
    justify-content: center;
    position: absolute;
    left: 40%;
    width: 30%;

}
.typing1 p
{
    font-size: 26px;
    font-weight: 300; 

}

p span.cursor {
    display: inline-block;
    background-color: #ccc;
    margin-left: 0.1rem;
    width: 3px;
    animation: blink 1s infinite;
    -webkit-animation: blink 1s infinite;
}
p span.cursor.typing {
    animation: none;
}
@keyframes blink {
    0%  { background-color: #ccc; }
    49% { background-color: #ccc; }
    50% { background-color: transparent; }
    99% { background-color: transparent; }
    100%  { background-color: #ccc; }
}